<div class="container">
  <h1 class="title">Welcome to my beautiful web page!</h1>
  <% if (typeof message !== 'undefined') { %>
  <div class="alert alert-success">
    <p class="message"><%= message %></p>
  </div>
  <% }else{ %>
  <div class="alert alert-warning">
    <p class="message">
      Type a value for the property message next to this page URL
      <br />
      /?message=Hello
    </p>
  </div>
  <% } %>
</div>
<div class="container flex-col-container">
  <h2 class="subtitle">I can show products from my database in MongoDB</h2>
  <p class="description">Click on this button below to go the products page</p>
  <a href="/products" class="btn btn-primary">Products</a>
</div>
